@media(max-width: 525px) {
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 400px) {
    .imprint-link {
        bottom: 10px;
        left: 5px;
        font-size: 18px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

@media(max-width: 360px) {
    h1{
        display: none;
    }
}